.localshirt-button {
    font-family: "Poppins";
    font-weight: bolder;
    width: 500px;
    height: 100px;
    background-color: #99af8c;
    color: #fff;
    border-radius: 1px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .localshirt-button:hover {
    background-color: #45a049;
  }
  
  .localshirt-button {
    transition: background-color 0.3s ease;
  }
  
  .localshirt-button::before {
    content: "\1F331";
    margin-right: 5px;
    font-size: 40px;
    color: white;
  }
  
  .large-localshirt-button {
    font-size: 24px;
    padding: 15px 30px;
  }
  
  .small-localshirt-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .localshirt-radio-button {
    margin-right: 10px;
  }
  
  .localshirt-radio-label {
    font-family: "Poppins";
    font-size: 16px;
    color: #333;
  }
  
  .localshirt-radio-button input[type="radio"] {
    display: none;
  }
  
  .localshirt-radio-button input[type="radio"] + label {
    display: inline-block;
    cursor: pointer;
    padding: 8px 16px;
    font-family: "Poppins";
    font-size: 16px;
    color: #fff;
    background-color: #4caf50;
    border-radius: 5px;
  }
  
  .localshirt-radio-button input[type="radio"]:checked + label {
    background-color: #2ecc71;
  }