@media only screen and (max-width: 391px) {
  .dbld-prev-btn {
    border-radius: 73px;
    width: 136px;
    height: 76px;
    font-size: 18px;
    font-weight: bold;
    color: #ffff;
    background-color: #828282;
    border-style: solid;
  }
  .prev-btn {
    border-radius: 73px;
    width: 136px;
    height: 76px;
    font-size: 18px;
    font-weight: bold;
    color: #ffff;
    background-color: #99af8c;
    border-style: solid;
    border-color: #99af8c;
  }
  .nxt-btn {
    border-radius: 73px;
    width: 136px;
    height: 76px;
    font-size: 18px;
    font-weight: bold;
    color: #ffff;
    background-color: #99af8c;
    border-style: solid;
    border-color: #99af8c;
  }
  .complete-stepper {
    border-radius: 73px;
    width: 60px;
    height: 60px;
    font-size: 22px;
    font-weight: bold;
    color: #ffff;
    background-color: #99af8c;
    border-style: solid;
    border-color: #99af8c;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .incomplete-stepper {
    border-radius: 73px;
    width: 60px;
    height: 60px;
    font-size: 22px;
    font-weight: bold;
    color: #ffff;
    background-color: #828282;
    border-style: solid;
    border-color: #828282;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .steps-frame {
    position: fixed;
    top: 240px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .btns-frame {
    position: fixed;
    top: 680px;
    height: 188px;
    width: 337px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .head-register-section {
    position: fixed;
    top: 110px;
  }
  .register-form-mobile{
    position: fixed;
    top:300px;
    height: max-content;
  }
  .mobile-hamburger-menu {
    position: fixed;
    top: 20px;
    left: 325px;
    width: 43px;
    height: auto;
  }
}
@media only screen and (min-width: 392px) {
  .introtxt {
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #c2c2c2;
  }
}
