.localshirt-blurred-ball-1 {
    position: fixed;
    top: 200px;
    left: -500px;
    z-index: -1;
  }
  
  .localshirt-blurred-ball-2 {
    position: fixed;
    top: 500px;
    left: 850px;
    z-index: -1;
  }
  
  .localshirt-blurred-ball-3 {
    position: fixed;
    top: 100px;
    left: 1300px;
    z-index: -1;
  }

  .localshirt-logo-container {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 200px;
    height: auto;
}

.localshirt-background {
  background-color:#99af8c;
}