.description-container {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 212px;
}

.description {
    font-size: 14px;
    text-align: center;
    padding: 20px;
    color: #535353;
}

.redirect-button {
    color: #FFFFFF;
    height: 42px;
    width: 150px;
    background-color: #535353;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.score-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 10px;
}

.score-title{
    color: #636363;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 0px;
}

.score-value-container {
    display: flex;
    align-items: center;
    /* margin-top: 2px; */
    /* margin-bottom: 2px; */
    /* justify-content: space-between; */
}

.score-font {
    font-weight: 600;
    font-size: 18px;
    color: #535353;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.score-percent-font {
    font-weight: 400;
    font-size: 18px;
    color: rgba(99, 99, 99, 0.47);
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.background-progress-bar {
    width: 100px;
    height: 15px;
    background-color: #E9E9E9;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

.score-font,
.score-percent-font {
  flex-grow: 0;
}

.score-description {
    font-weight: 300;
    font-size: 14px;
    color: #535353;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}