.page {
    background-color: #D9E0D8;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #FFFF;
    margin-top: 10px;
}

.card-container {
    width: 540px;
    height: 439px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap:20px;
    overflow-y: visible;
    overflow-x: hidden;
    z-index: 1;
}

.card-container::-webkit-scrollbar {
    display: none;
  }

.card-and-panel-container {
    position: relative;
    top: 35px;
    height: 450px;
    width: 750px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.card-panel {
    position: absolute;
    left: 530px;
}

.shape-container {
    position: absolute;
    top: 0;
    left: 0;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    left: 10px;
}

.white-logo {
    width: 5Opx;
    height: auto;
    align-self: flex-start;
}
  
  